@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=poppins);

body 
{
    margin: 0%;
    background-repeat: no-repeat;
    /* background: radial-gradient(at left bottom, #A8A8A7, #4592FB); */
    background: linear-gradient(135deg, #dad5d5, #b4bdcb);
   
    
}

    header
    {
        width: 100%;
        background-color: rgba(4, 134, 248, 0.66);

        nav {

            display: flex;
            justify-content: space-between;

            img {
                margin: 0.5% 1.5rem;
                width: 8%;
            }


            .box1 {
                margin-top: 0%;

                h2 {
                    margin: 1rem;
                    color: rgb(233, 243, 238);
                    font-size: xx-large;
                    text-transform: capitalize;
                    text-shadow: 1px 2px 2px black;
                    font-family: "Audiowide", sans-serif;
                    transition: 0.5s;

                }

               
            }

            .topbtn
            {
                margin-top: 0.8rem;
                padding: 0 1rem;
                height: 60%;

                button
                {
                    /* width: 80%; */
                    padding: 0.5rem 1rem;
                    height: 100%;

                    white-space: nowrap;

                    border-radius: 5px;
                    border: 2px solid rgb(250, 250, 248);
                    background-color: transparent;

                    font-family: "Audiowide", sans-serif;
                    color: white;
                    cursor: pointer;
                    font-size: medium;

                    box-shadow: -1px 1px 2px rgb(34, 33, 33);
                    transition: 0.5s;
                }

                button:hover {
                    background-color: rgb(235, 238, 236);
                    color: rgb(12, 12, 12);
                    font-size: large;
                    transform: scale(90%);
                    box-shadow: -2px 2px 3px rgb(7, 7, 7);
                }


            }


        }


    }

main
{

    display: flex;
    
    margin: 1%;
    
  .part1
    {
    
        
        border: 1px solid rgb(97, 91, 91);
        border-radius: 50px 0px 50px 0px;
        


        width:15%;
        height: 39rem;

      
        letter-spacing: 1.5px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .p1nav,.p1bottum
      { 
         border: 1px solid rgb(106, 109, 110);
         border-radius: 50px 0px 50px 0px;
         color: aliceblue;
         text-shadow: 1px 0px 12px black;
        text-align: center;
        font-family:'Lucida Sans Regular';
        font-weight: bolder;
        font-size: large;
        background-color: rgba(4, 110, 248, 0.509);
        text-transform:uppercase;
        
        


      }

      .p1main
      {
        /* border: 1px solid black; */
        margin-left: 5%;
        

        .imgname
        {
            font-family: "Audiowide", sans-serif;
            font-size: large;
            margin-left: 3rem;
            margin-top: -15rem;
            line-height: 38px;

            a{ 
                color: black;
                
                text-decoration: none !important;
            }

            
            p:hover
            {
                color: rgb(9, 88, 197);
               
                
            }

            /* YE Class color ke liye he page jaha rahega  */
            .colar
            {
                color: rgb(9, 88, 197);
            }
        }
          

        img
        {
            width: 20%;
            border-radius: 50%;
            background-color: #118174;
            margin-bottom: 5%;
            transition: 0.5s;
        }
        img:hover
        {
            transform: scale(75%);

        }
        
    }

    }

    .part2
    {
      border: 1px solid rgb(58, 55, 55);
     
      margin-left: 1%;
      width: 80rem;
      overflow-x: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;

     
      

      .pbox1,.pbox3
      {
        background-color: rgb(97, 131, 205);
        letter-spacing: 2px;

        
        /* border: 1px solid black; */

        display: flex;
        justify-content: space-between;

        img
        {
            width: 3rem;
            height: 2.8rem;
            margin-right: 0.3rem;
            margin-top: 0.5%;
        }

        p
        {
            font-family: "poppins", sans-serif;
            color: aliceblue;
            font-size: large;
            font-weight: bolder;
        }
        .hom{
            font-family: "Audiowide", sans-serif;
            font-size:x-large; 
            margin-top: 1.2%;
            text-transform: uppercase;
        }

        button
        {
           margin: 0.5rem;
           padding: 0rem 1.5rem;
           background: none;
           box-shadow: 0px 0px 0.5px 2px black;
           cursor: pointer;
           color: rgb(255, 254, 252);
           border: 2px white solid;
           border-radius: 10px;
           font-size: large;
           font-weight: bold;
           transition: 0.5s;
        }
        button:hover
        {
            background-color: rgb(238, 238, 235);
            color: black;
            transform: scale(90%);
            box-shadow: none;
            border-radius: 5px;
        }

        .home_btn
        {
            border-radius: 2rem; 
            height: 70%;
        }
        
      }

/*-------------------- pbox2 -------------------------------------- */

       .apptype   /* Applicatin Type CSS*/
    {

        .demo
        {
          display: flex;
          justify-content:space-around;
          align-items: center;
          flex-wrap: wrap;
        

           .btn1,.btn2
           {
            border: 2px solid rgb(103, 99, 99);
            border-radius: 20px 20px 20px 20px;
            transition: 0.5s;
            box-shadow: 5px 5px 10px rgb(33, 33, 33);
            cursor: pointer;
            text-align: center;
            padding: 20px ;

             img
             {
             width: 17rem;
             }

             p
             {
            font-family: "poppins", sans-serif; 
            font-weight: bolder; 
            font-size: large;
             }
           }

           .btn1:hover,.btn2:hover
           {
            background-color: rgba(14, 140, 203, 0.753);
            transform: scale(90%);
            p{
              color: aliceblue;
              font-size: larger;
            }
           }
        }
    }

      .applicatins,.accpeted_application,.give_project/* Application ki Css*/
      {
        padding: 1.2rem 1rem;
        font-family: "poppins", sans-serif;


        /* height:auto; */

       
        
        font-size: clamp(0.5rem,1rem,1rem);
        
        
        .info
        {
        text-align: center;
         font-family: "poppins", sans-serif;
         font-size: 1.1rem;
        }

     .tab{margin-left: 2.5rem;}

      .tablecontainer
      {

        border: 1px solid rgb(111, 112, 114);
        height: 20rem;
        overflow-y: scroll;
        padding: 1.7rem;

        background-color: #6684945b;
      }

        .table
        {
            width:fit-content;
            text-align: center;
            border-collapse:collapse ;
            font-size:calc(20px);
            text-transform: capitalize;

          


            tr
            {
                border: 1px solid #978e8e;
                background-color: rgb(215, 217, 220);
            }
            tr:nth-child(odd){background-color: #b4b4ae;}
            tr:hover
            {
               background-color: #90949a;
               color: white;
               
            }

           
            th
            {
            background-color: #06639e;
            padding: .5rem;
            color: aliceblue;
            border: 1px solid #fefdfd;
            font-size: large;
            }

            td
            {
                padding: 0.8rem;
                border: 1px solid #4a4747;
                font-size: medium;
               
                button
                {
                    padding: 0.5rem 1rem;
                    cursor:pointer;
                    background-color: #1b8290;
                    border: none;
                    color: aliceblue;
                    font-weight: bold;
                    transition: 0.2s;
                }
                button:nth-child(even){background-color: #dd501c;}

                button:hover{
                    transform: scale(90%);
                   background-color: #7e7e7a;
                   border-radius: 3px;
                }

                select
                {
                    padding: 0.3rem 1rem;
                    border-radius: 6px;
                    font-size: medium;
                    cursor: pointer;
                    outline: none;
                }
            }

        }
        
       
      }

/*--------------------------------- Employee -----------------------------------------------*/

    .Emp_type   /* Employees ki CSS */
    {
        
        background-color: #a6bec0;

       padding: 0.19rem;
        
       input
        {
            width: 60rem;
            height: 2.3rem;
            margin: 1rem 5rem;
            border: 2px solid rgb(152, 148, 154);
            border-radius: 8px;
            font-size: medium;
            font-family: "poppins", sans-serif; 
            transition: 0.3s;
        }
        input[type=text]:focus 
        {
            outline: none;
            font-size: large;
            border: 2px solid rgb(37, 72, 121);
           
        }

        select
        {
            width: 7rem;
            height: 2.2rem;
            margin-left: -2rem;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            font-size: medium;
            outline:none;
        }

        
        
    }
    /*
    ::-webkit-scrollbar 
    {
      
       
        width: 10px;
    
    }
    ::-webkit-scrollbar-track 
    {
        border: 1px solid rgb(111, 105, 105);
        border-radius: 10px;
        background-color: rgb(201, 208, 208);
    }
    ::-webkit-scrollbar-thumb 
    {
       
        background: rgb(241, 244, 243);
        border: 1px solid rgb(95, 90, 90);
        border-radius: 10px;
    }
      */
    .employee 
      {

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: #a2c2c5;

        overflow-y: scroll;

        /* border: 1px solid rgb(13, 13, 13); */
        height:26.8rem;
      
        .emp_card
        {
            border: 1px solid black;
            border-radius: 20px;
            width: 20rem;
            height: 32rem;
            margin: 20px;
            box-shadow: 0px 0px 5px 2px #9c9696;

           
         
            background-color: #dff1ea;

            img{
                border-right: 1px solid black;
            
                width: 20rem;
                height: 18rem;
                border-radius:19px 19px 0px 0px;
            }

            .empinfo
            {
                font-family: "poppins", sans-serif;
                font-size:3vh;
                text-transform: uppercase;
                margin-left: 2vh;
                margin-top: -0.8rem;

                text-align: center;

                #info
                {
                    font-size:medium;
                    text-align: center;
                    text-transform: capitalize;
                    margin-top: -1rem;
                    margin-bottom: 1.2rem;
                }
                #info1
                {
                    text-transform: capitalize;
                   text-align: start;
                    font-size:medium;
                }
                button
                {
                   padding: 0.5rem 1rem;
                   /* margin-left: 4rem; */
                   background-color: #225faa;
                   color: #faf8f8;
                   font-weight: bolder;
                   border: none;
                   border-radius: 20px;
                   transition: 0.5s;
                   cursor: pointer;
                   
                }
        
                button:hover {
                    background-color: rgba(0, 0, 0, 0.708);
                    color: rgb(253, 252, 250);
                   transform: scale(90%);
                    box-shadow: 1px 1px 10px rgb(252, 250, 250);
                }
        
            }

            transition: 0.5s;
        }
        .emp_card:hover
        {
            transform:scale(90%);
            box-shadow: 12px 14px 10px rgb(57, 55, 55);
        }
    
      }
  
/*-------------------------EMP Details CSS --------------------------------*/

   .Details
   {

    background-image: linear-gradient(319deg, #ffffffeb 0%, #d4d4d4e0 37%, #edeff0d0 100%);

      /* border: 1px solid black; */
     
      
      overflow-y: scroll;
      height:31rem;
     

         padding: 0.5rem;

         h1
         {
         text-align: left;
         font-family: "Audiowide", sans-serif; 
         color: #0e5682;
         font-size:x-large ;
         margin-left: 1rem;
         letter-spacing: 2px;
         }


      .box1
      {
       

        font-family: "poppins", sans-serif; 
        border: 3px solid rgb(59, 95, 117);
        border-radius: 10px;

        display: flex;
        justify-content: space-around;

        margin-top: 1rem;
        height: 16em;
       
        img
        {
            border: 3px solid rgb(86, 87, 91);
            width: 14rem;
            height: 14rem;
            border-radius: 10px;
            margin-top: 0.7rem;

        }

        .txt
        {
          text-shadow: 1.5px 1px 2px rgb(137, 154, 155);
          

            font-size:x-large;
            text-transform: capitalize;
          

            ul{list-style: none;
            
            }

            li
            {
                margin: 2rem;
                border-bottom: 2px solid rgb(42, 54, 70);
                padding: 0.3rem 1.5rem;
                border-radius: 20px;
                transition: 0.5s;
            }
            li:hover
            {
                background-color: rgba(248, 245, 245, 0.831);
               
                box-shadow: 6px 8px 10px black;
            }
        }

      }

      .btns,.edit_type,.edit_form
      {
        /* border: 1px solid black; */
        text-align: center;
        

        button
        {
            margin: 2rem;
            padding: 0.8rem 3rem;
            border: none;
            border-radius: 10px;
           background-color: #1670a8;
           color: white;
           font-weight: bold;
           font-size: large;
           cursor: pointer;
           transition: 0.5s;
        }
        button:nth-child(even){background-color: #dd501c;}
        button:hover
        {
            background-color: rgb(41, 39, 39);
          transform: scale(95%);
        }

        
      }

    .edit_type
     {
        background: transparent;
       backdrop-filter: blur(5px);

       border:1px solid #04487d;
       border-radius: 10px;

       margin-top: 11rem;
       padding: 5rem;

      
       box-shadow: 0px 0px 10px black;

        p
        {
            text-align: center;
            font-size: xx-large;
            font-weight: bold;
            font-family: "poppins", sans-serif; 
            text-transform:uppercase;
            color: #809cb8;
            text-shadow: 1px 2px 2px rgb(4, 4, 4);
          
        }
      
        button
        {
            box-shadow: 3px 2px 5px black;
        }
        button, button:nth-child(even){background-color: #52a517;}
        button:hover
        {
            background-color: rgb(41, 39, 39);
          transform: scale(95%);
        }

     }

     .edit_form
     {
        /* background: transparent; */
        background-color:#a6aeb12d;
        backdrop-filter: blur(8px);
 
        border:1px solid #0a0a0a;
        border-radius: 10px;

        /* display: block; */
        margin-top: 10rem;
   
        width: 41rem;
        height: 26rem;

       
        
      .box
      {
        display: flex;
        flex-wrap: wrap;
        
       

        h2
        {
            margin-left: 9rem;
            font-size: xx-large;
            font-weight: bold;
            font-family: "poppins", sans-serif; 
            text-transform:capitalize;
            color: #f7f8f9;
            text-shadow: 1px 1px 3px rgb(4, 4, 4);
        }

        form
        {
            text-align: center;
            text-transform: capitalize;
            input
            {
                background: none;
                text-transform: capitalize;
                border: 2px solid rgb(65, 62, 62);
                padding:0.5rem 2rem;
                border-radius:8px;
                color: rgb(20, 21, 20);
                text-shadow:1px 1px 2px rgb(191, 185, 185);
                font-size: large;
               margin: 1rem;
               outline: none;
            }

           
                label
                {
                    margin-left:8rem;
                    font-size: x-large;
                    font-weight: bold;
                    font-family: "poppins", sans-serif; 
                    text-transform:capitalize;
                    color: #080808;
                }
                

            select
            {
                border: 2px solid rgb(23, 22, 22);
                padding:0.5rem 2rem;
                border-radius:8px;
                font-size: medium;
               margin: 1rem;
               background-color: rgba(255, 255, 255, 0.521);
               backdrop-filter: blur(10px);
           
                text-transform: capitalize;
               
               
            }
            select:nth-child(even){margin-left: 2rem;}
            select:nth-child(odd){margin-left: 1rem;}

            label:nth-child(1){margin-right: 6rem;}
           

            .off_btn
            {margin-left: 8rem;}
         button
         {
            background-color: #4aa30a;
            text-transform: capitalize;
         }
        button:nth-child(even){background-color: #dd501c;}
        button:hover
        {
            background-color: rgb(11, 156, 57);
          transform: scale(95%);
        }
        ::placeholder
         {
             color: rgb(83, 90, 85);
            text-shadow:1px 1px 1px rgb(95, 88, 88);
         }
        }
      }
     }

   }
    
    }
    /* Part 2 ka end */


    .deactive
    {
        display: none;
    }

    .active{
        display: none;
    }

/*-------------------------------------Project ki CSS -----------------------------------------*/
    

.give_project
{
   text-align: center;

   .tab{margin-left: 2rem !important;}

   .tablecontainer
   {
     width: 60rem;
     margin-left: 7rem;
     border-radius: 10px;
   }

  .filter
  {
      
      p{
         text-transform: capitalize;
        font-size: x-large;
     }
     
     select
     {
        text-transform: capitalize;
         padding: 0.3rem 1rem;
         border-radius: 6px;
         font-size: medium;
         cursor: pointer;
         outline: none;
     }
  }
   

}

}

::-webkit-scrollbar
{
   display: none;
}



